#header{
    display: flex;
    justify-content: stretch;
    align-items: center;
    justify-content: center;
}

#date,#clock,#menubuttons{
    height:inherit;
    text-shadow: 1px 1px 20px white;
}

#date,#clock{
    width:400px;
    border-right:inherit;
    box-shadow: inherit;
}

#menubuttons{
    width:200px;
}

#date,#clock{
    color:white;
    font-size:60px;
    text-align: center;
    // padding-top: 35px;
    // font-family: 'Orbitron', sans-serif;
    font-family: 'Space Mono', monospace;
    
    line-height: 90px;

}

#speakerContainer{
    color:white;
    justify-self: flex-start;
    align-self: center;
}

#songplay{
    color: white;
    background-color: black;
    border:double 5px white;
    border-radius:100%;
}

#songplay:hover{
    color:black;
    background-color: white;
}


#speakerContainer{
    width:40px;
    height:20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// input[type=number] {
//     -moz-appearance: textfield;
//   }