@import "./styles/example.scss";
@import "./styles/reset.css";
@import "./styles/modals.scss";
@import "./styles/menu.scss";
@import "./styles/select.scss";


*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#background{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    background-color: black;
    max-height:auto;
    max-width:1000px;
    position:relative;
    z-index: auto;
    // justify-content: center;
    align-items: center;
    // position: relative;
    // margin-bottom:20px;

}
#header{
    height:90px;
    width:1000px;
    border:double 10px white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.4);
    
 
}

#menubuttons{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    // box-shadow: none;
}

.fa{
    color:white;
    // text-shadow:none;
    padding:5px;
}

.fa:hover{
    color:grey;
}
#links{
    display:flex;
    justify-content:center;
}

#date-button{
    margin:10px;
    border:double 5px white;
    border-radius: 10%;
    background-color: black;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 5px white;
    box-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.4);
}
#view{
    display: flex;

    background-color: black;
    height: 600px;
    width:1000px;
    // position:relative;
    z-index: auto;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    border: double 10px white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 5px 20px   rgba(255, 255, 255, 0.4);
    
}



.astro-data{
    display: grid;
}

.astro-data *{
    grid-area: 1/1;
    // margin:5px;
}
.weather-widgets{
    display:flex;
    min-height: 600px;
    min-width:400px;

}
#location{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:inherit;
    color:white;
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:100px;
    height:100px;
    align-self: center;
    justify-self:center;
    text-shadow: 1px 1px 5px white;
    text-align: center;
    line-height:25px;
    // padding-top:9%;
    // border:double 5px white;
    // box-shadow: 0px 5px 20px   rgba(255, 255, 255, 0.4);
    // border-radius:100%;
    
}

#location *{
    vertical-align: middle;
}




#seasons,#sun-path,#moons{
    // position:relative;
    // max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    // z-index: -2;
}

.astro-data svg:hover{
    border: solid 0px white;
    border-radius: 100%;
    box-shadow: 0 0px 20px rgb(255, 255, 255);
    transition: box-shadow 0.3s ease-out
}







