@import "./styles/example.scss";
@import "./styles/reset.css";

#main {
    color: $color;
}

#background{
    
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height:100vh;
}

